<h1>Adicione dados do usuario:</h1>
<form action="/users/create" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Digite o nome do usuário">
    </div>
    <div class="form-control">
        <label for="ocuppation">Cargo: </label>
        <input type="text" name="occupation" placeholder="Digite a profissao">
    </div>
    <div class="form-box">
        <input type="checkbox" name="newsletter">
        <label for="newsletter">Enviar promocao?</label>
    </div>
    <input type="submit" value="Cadastrar" class="bottom">
</form>
