<h1>Usuário e Endereco</h1>
<div class="container">
    <div class="sub-container">
        <p>Usuario:</p>
        <div class="user">
            <div class="item">
                <p>Nome: {{user.name}}</p>
                <p>Profissao: {{user.occupation}}</p>
            </div>
        </div> 
    </div>
<div>

